.box1{
    height: 50px;
    width: 50px;
    background: linear-gradient(45deg,pink,green);
    float: right;
}
.box2{
    height: 50px;
    width: 50px;
    background: radial-gradient(pink,green);
    float: left;
    margin-top: 10%;
}
.border-box{

    height: 200px;
    width: 200px;
    background: radial-gradient(rgb(236, 32, 66),rgb(155, 250, 155));
    float: left;
    box-sizing: border-box;
    margin-top: 10%;
    margin: 10%;
    padding: 20px;
}
.content-box{
    height: 200px;
    width: 200px;
    background: radial-gradient(rgb(236, 32, 66),rgb(155, 250, 155));
    float: left;
    box-sizing: content-box;
    margin-top: 10%;
    margin: 10%;
    padding: 20px;
}